footer {
	  background-color: #000; /* Footer background black for contrast with white text */
	    color: white;
	      height: 60px;
	        width: 100%;
		  border-top: 1px solid #CCCCCC;
		    display: flex;
		      justify-content: center;
		        align-items: center; /* center text vertically and horizontally */
		}
